*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;

  color: white;

  padding: 64px;
  background-color: #0d0714;
  @media screen and (max-width: 1024px) {
    padding: 16px;
  }
}

.max-w-800 {
  max-width: 800px;
  margin: auto;
}

.todo-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 32px;
  }
}
.todo-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.todo-input {
  font-size: 16px;
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #9e78cf;
  border-radius: 12px;
  background-color: #0d0714;
  color: #9e78cf;
}
.todo-btn {
  font-size: 16px;
  color: white;
  padding: 20px;
  border: 1px solid #9e78cf;
  background-color: #9e78cf;
  border-radius: 12px;
  cursor: pointer;

  @media screen and (max-width: 375px) {
    padding: 16px;
  }
}
.todo-btn:hover {
  opacity: 0.8;
}
.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 375px) {
    width: auto;
    font-size: 20px;
    gap: 16px;
  }
}
.todo-icons {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 375px) {
    gap: 8px;
  }
}

.done-icon,
.delete-icon {
  cursor: pointer;
}
.done-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transform: rotate(15deg);
}
.delete-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transform: rotate(15deg);
}
.todo-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: #9e78cf;
  padding: 10px;
  background-color: #15101c;
  border-radius: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
